<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>登录页面</title>
    <link rel="stylesheet"
          th:href="@{'/bootstrap/css/bootstrap.min.css'}"/>
    <style>
        #container {
            width: 600px;
            margin: 10px auto;
        }
    </style>
</head>
<body>

<div id="container">
    <h2>登录失败</h2>
    <h3 class="font-bold">用户名或密码输入有误</h3>

    <div class="error-desc">
        没有登录...
        <br/>您可以返回重新输入
        <br/><a href="/index" class="btn btn-primary m-t">登录</a>
    </div>
</div>
</body>
</html>


