<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>修改角色</title>
    <link rel="stylesheet"
          th:href="@{'/bootstrap/css/bootstrap.min.css'}"/>
    <style>
        #container {
            width: 600px;
            margin: 10px auto;
        }
    </style>
    <script type="text/javascript" th:src="@{'/js/jquery.js'}"></script>

    <script>
        $(document).ready(function () {
            $("#save").click(function () {
                var id = $("[name='id']").val();
                var code = $("[name='code']").val();
                var name = $("[name='name']").val();
                var permissions = $("[name='permissions']").val();
                var permissionsParam = "";
                for (var i = 0; i < permissions.length; i++) {
                    permissionsParam += "&permissions[" + i + "].id=" + permissions[i]
                }
                var url= encodeURI("update?id="+id+"&code=" + code + "&name=" + name + permissionsParam, "utf-8");
                location.href = url;
            })
        })
    </script>
</head>
<body>

<div id="container">
    <form class="form-horizontal" action="update">
        <input type="hidden" name="id" th:value="${sysRole.id}">
        <div class="form-group">
            <label class="col-sm-2 control-label">CODE</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入CODE" name="code" th:value="${sysRole.code}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入名称" name="name" th:value="${sysRole.name}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">权限：</label>
            <div class="col-sm-10">
                <select data-placeholder="选择权限" class="chosen-select form-control" multiple  name="permissions">
                    <option th:each="permission:${permissions}"  th:value="${permission.id}" th:text="${permission.name}" th:selected="${(sysRole.permissions.![id]).contains(permission.id)}?true:false"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" id="save">保存</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>