<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>新增员工</title>
    <link rel="stylesheet"
          th:href="@{'/bootstrap/css/bootstrap.min.css'}"/>
    <style>
        #container {
            width: 600px;
            margin: 10px auto;
        }
    </style>
    <script type="text/javascript" th:src="@{'/js/vue.js'}"></script>
    <script type="text/javascript" th:src="@{'/js/axios.js'}"></script>
</head>
<body>
<div id="container">
    <form class="form-horizontal" @submit.prevent="add">
        <div class="form-group">
            <label class="col-sm-2 control-label">编号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入编号" v-model="form.number">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">名字</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入名字"
                       v-model="form.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
                <input type="radio" value="男" v-model="form.gender"/>男<input type="radio"
                                                                        value="女" v-model="form.gender"/>女
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入年龄"
                       v-model="form.age">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">部门</label>
            <div class="col-sm-10">
                <select class="form-control" v-model="form.dep.id">
                    <option v-for="dep in depList"
                            v-text="dep.name" v-bind:value="dep.id">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
<script>
    let vue = new Vue({
        el: "#container",
        data: {
            form: {
                number: null,
                name: null,
                gender: null,
                age: null,
                dep:{
                    id:null
                }
            },
            depList: []
        },
        methods: {
            add: function () {
                axios.post('add',this.form)
                    .then(function (res) {
                        location.href="show"
                    }.bind(this))
            },
            searchDep: function () {
                axios.get('/dep/search')
                    .then(function (res) {
                        this.depList = res.data;
                        this.form.dep.id=this.depList[0].id
                    }.bind(this))
            },

        },
        created() {
            this.searchDep();
        }
    })
</script>