<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>新增员工</title>
    <link rel="stylesheet"
          th:href="@{'/bootstrap/css/bootstrap.min.css'}"/>

    <style>
        #container {
            width: 600px;
            margin: 10px auto;
        }
    </style>
    <script type="text/javascript" th:src="@{'/js/jquery.js'}"></script>

</head>
<body>

<div id="container">
    <form class="form-horizontal" action="add">
        <div class="form-group">
            <label class="col-sm-2 control-label">编号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入编号" name="number">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">名字</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入名字"
                       name="name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
                <input type="radio" value="男" name="gender" />男<input type="radio"
                                                                      value="女" name="gender" />女
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入年龄"
                       name="age">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">部门</label>
            <div class="col-sm-10">
                <select class="form-control" name="dep.id">
                    <option  th:each="dep:${depList}"
                        th:text="${dep.name }" th:value="${dep.id }">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>